body {
  margin:0px;
  background-color:rgba(0, 153, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:541px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:122px;
  width:300px;
  height:71px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:71px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:228px;
  width:57px;
  height:20px;
  color:#FF0000;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:228px;
  width:57px;
  height:20px;
  color:#FF0000;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
